<form action="/toilets" method="get">
  <input type="text" placeholder="Where are you?" name="user_location" style="color: black;"><br><br>
  <input type="submit" value="Go" class="btn btn-success btn-sm">
</form>


<%#= simple_form_for @user_location do |f| %>
<%#= f.input :location_address %>
<%#= end %>
