.map {
  height: 400px;
  width: 100%;
  background-image: url('https://tribktla.files.wordpress.com/2014/07/venice-carjacking-map.jpg');
}

.toilet-results-container {
  margin-top: 10px;
}

.toilet-card {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(173, 191, 221, 0.2);
  margin: 0, 10px, 0, 10px;
}

.toilet-card-details {
  list-style-type: none;
}

