.toilet-card {
  border-radius: 8px;
  height: 100px;
  width: 100;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: $light-yellow;
  h1 {
    color: $funky-blue;
  }
}

.toilet-card-link:hover {
  text-decoration: none;
  h1 {
    color: gray;
  }
}


#map {
  width: 100%;
  height: 550px;
}



#index-wrapper {
  margin-top: 2px;
  padding: 10px;
  background-color: $light-gray;
}
