.toilet-name {
  background-color: rgba(255, 239, 25, 0.2);
  height: 55vh;
  width: 55vh;
  border: 1px solid black;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.toilet-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.toilet-attr-div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-aling: center;
}

.toilet-address, .toilet-type, .toilet-price, .toilet-shittable {
  border: 1px solid black;
  border-radius: 50%;
  height: 35vh;
  width: 35vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(107, 163, 255, 0.2);
}

.button-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}





