.toilet-name {
  background-color: $light-blue;
  height: 55vh;
  width: 55vh;
  color: gray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.toilet-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.toilet-attr-div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-aling: center;
}

.toilet-address, .toilet-type, .toilet-price, .toilet-shittable {
  border-radius: 50%;
  height: 35vh;
  width: 35vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: $light-yellow;
  color: $funky-blue;
}

.button-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.toilet-deets-container {
  background-color: $light-gray;
  padding: 8px;
  border-radius: 6px;
}





