<h1>Visits#new</h1>
<p>Find me in app/views/visits/new.html.erb</p>

<!-- ####Not implemented -->

<div class="wrapper">
  <div class="container">
    <div class="row col-md-12">
      <%= simple_form_for @visit do |f| %>
        <%= f.input :username %>
        <%= f.input :password %>
        <%= f.button :submit %>
    <% end %>
    </div>
  </div>
</div>

