<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>What is you gender (so we send you to the right loo!)</p>
        <div class="form-container">
          <%= simple_form_for @user do |f| %>
          <%= f.select(:gender) do %>
          <% [['Male', 'male'], ['Female', 'female'], ['Rather not say', 'no-gender']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
          <% end %>
          <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
