
<div class="wrapper" id="index-wrapper">
  <div class="container">
    <div class="row">


      <div class="col-md-6">
        <%= render 'components/map' %>
      </div>


      <div class="col-md-6 toilets-div">
        <% @closest_toilets[0..5].each do |t| %>
          <%= link_to toilet_path(t), { class: "toilet-card-link" } do %>
            <div class="toilet-card">
              <h1><%= t.location_name %></h1>

            </div>
          <% end %>
        <% end %>
      </div>




    </div>
  </div>
</div>
