<div class="text-center">

  <div class="map"></div>


  <div class="container toilet-results-container">

    <% @toilets.each_slice(3) do |trio| %>
      <div class="row">
        <% trio.each do |t| %>
          <%= link_to toilet_path(t.id) do %>
            <div class="col-md-4 col-xs-12 toilet-card text-center">
              <ul class="toilet-card-details">
                <li><%= t.location_name %></li>
                <li><%= t.toilet_type %></li>
                <li><strong>Price: </strong><%= t.price %></li>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>

</div>







