<div class="container">

  <div class="toilet-img-div ">

    <%= link_to ('https://www.placecage.com/c/200/300'), { target: "_blank" } do %>
      <div class="toilet-img img-circle" style="background-image: url('https://static.pexels.com/photos/235948/pexels-photo-235948.jpeg');"></div>
    <% end %>

  </div>

  <div class="toilet-attr-div">

    <div class="toilet-rating">
      <p><%= @showtoilet.location_address %></p>
    </div>
    <div class="toilet-location">
      <p>€ <%= @showtoilet.price %></p>
    </div>
    <div class="toilet-price">
      <p><%= @showtoilet.toilet_type %></p>
    </div>
    <div class="toilet-paper">
      <p>
        <% if @showtoilet.shittable == true %>
          Shittable
        <% else %>
          Unshittable
        <% end %>
      </p>
    </div>

  </div>

</div>
