<div class="container">

    <div class="toilet-img-div ">

      <%= link_to ('https://www.placecage.com/c/200/300') do %>
        <div class="toilet-img img-circle" style="background-image: url('https://static.pexels.com/photos/235948/pexels-photo-235948.jpeg');"></div>
      <% end %>

    </div>


    <div class="toilet-attr-div">

      <div class="toilet-rating"></div>
      <div class="toilet-location"></div>

      <div class="toilet-price"></div>
      <div class="toilet-paper"></div>

    </div>


</div>
